<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>David Martin - Web Developer &amp; Entrepreneur</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo" style="font-weight:700;">ctrlalt<span class="blue-text">DAVID</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#contact">Contact Me</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#contact">Contact Me</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" style="min-height:100vh!important;">
    <div class="section no-pad-bot">
      <div class="container" style="position:relative;transform: translateY(50%);">
        <br><br>
        <h1 class="header center white-text text-lighten-2" style="font-size:120px;margin-bottom:0">HELLO WORLD</h1>
        <h1 class="header center white-text text-lighten-2" style="margin-top:0">My Name is David</h1>
        <!-- <div class="row center"> -->
          <!-- <h5 class="header col s12 light">I build Websites, Apps, &amp; Businesses</h5> -->
        <!-- </div> -->
        <div class="row center">
          <!-- <a href="#contact" id="contact-button" class="btn-large waves-effect waves-light blue lighten-1">Get in Touch</a> -->

  <a href="#about"><i class="material-icons white-text tab r90">skip_next</i></a>
        </div>
      </div>

    </div>
    <div class="parallax"><img src="banners/dm-8.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row" id="about">
        <h1 class="center">I like to build...</h1>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons" style="
    border: 5px solid #000;
    border-radius: 50px;
    padding: 20px;">code</i></h2>
            <h5 class="center black-text">Websites</h5>

            <!-- <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p> -->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons" style="
    border: 5px solid #000;
    border-radius: 50px;
    padding: 20px;">phonelink_setup</i></h2>
            <h5 class="center black-text">Apps</h5>

            <!-- <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p> -->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons" style="
    border: 5px solid #000;
    border-radius: 50px;
    padding: 20px;">business</i></h2>
            <h5 class="center black-text">Businesses</h5>

            <!-- <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p> -->
          </div>
        </div>
      </div>
      <br/>
      <div class="row center">
        <a href="#portfolio" id="portfolio-button" class="btn-large waves-effect waves-light blue lighten-1">See My Work</a>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">I'm an Experienced Web Developer and Digital Marketing consultant from Miami, FL</h5>
        </div>
        <a href="#skills"><i class="material-icons white-text tab r90">skip_next</i></a>
      </div>
    </div>
    <div class="parallax"><img src="banners/dm-6.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row" id="skills">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h1>Skills</h1>
          <div class="col s12 m6">
            <h1 class="center blue-text"><i class="material-icons" style="font-size:72px;">track_changes</i></h1>
            <h5 class="center black-text">Website Project Management</h5>
          </div>
          <div class="col s12 m6">
            <h1 class="center blue-text"><i class="material-icons" style="font-size:72px;">loop</i></h1>
            <h5 class="center black-text">Business Process Automation</h5>
          </div>
          <div class="col s12 m6">
            <h1 class="center blue-text"><i class="material-icons" style="font-size:72px;">supervisor_account</i></h1>
            <h5 class="center black-text">Social Entrepreneurship</h5>
          </div>
          <div class="col s12 m6">
            <h1 class="center blue-text"><i class="material-icons" style="font-size:72px;">trending_up</i></h1>
            <h5 class="center black-text">Digital Marketing &amp; Advertising</h5>
          </div>
          <!-- <p class="center-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> -->
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center" style="margin-bottom:20px;">
          <!-- <h1 class="header col s12 blue-text">Languages I Use</h1> -->
            <div class="col s12 m3">
              <h5>HTML</h5>
            </div>
            <div class="col s12 m3">
              <h5>CSS</h5>
            </div>
            <div class="col s12 m3">
              <h5>JAVASCRIPT</h5>
            </div>
            <div class="col s12 m3">
              <h5>PHP</h5>
            </div>
            <div class="col s12 m3">
              <h5>RUBY</h5>
            </div>
            <div class="col s12 m3">
              <h5>SQL</h5>
            </div>
            <div class="col s12 m3">
              <h5>SWIFT</h5>
            </div>
            <div class="col s12 m3">
              <h5>PYTHON</h5>
            </div>
        </div>
      </div>
      <a href="#portfolio"><i class="material-icons white-text tab r90">skip_next</i></a>
    </div>
    <div class="parallax"><img src="banners/dm-2.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row" id="portfolio">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h1>Portfolio</h1>
          <!-- Begin Project Card -->
          <div class="col s12 m4">
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="banners/fsm.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 left-align">Fullstack Miami</span>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Fullstack Miami</span>
                <p>Custom website for lead generation using Google's Material Design and Materialize CSS. Custom contact form using PHPMailer and automated twitter feed.</p>
              </div>
              <div class="card-action">
                <a class="blue-text" target="_blank" href="http://fullstackmiami.com">Visit Website</a>
              </div>
            </div>
          </div>
          <!-- End Project Card -->
          <!-- Begin Project Card -->
          <div class="col s12 m4">
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="banners/lis.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 left-align">Little Swimmers</span>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Little Swimmers</span>
                <p>Completely refreshed Wordpress website for client. Includes extensive list of services and SEO, Social Media Feeds for Facebook and Instagram, and E-mail subscribers using Mailchimp.</p>
              </div>
              <div class="card-action">
                <a class="blue-text" target="_blank" href="http://littleswimmers.net">Visit Website</a>
              </div>
            </div>
          </div>
          <!-- End Project Card -->
          <!-- Begin Project Card -->
          <div class="col s12 m4">
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="banners/a4k.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 left-align">Air4k</span>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Air4k</span>
                <p>Customized Wordpress website for lead generation, as well as the ability to highlight current projects with Video Backgrounds and Automated Instagram Feed.</p>
              </div>
              <div class="card-action">
                <a class="blue-text" target="_blank" href="http://air4k.com">Visit Website</a>
              </div>
            </div>
          </div>
          <!-- End Project Card -->
          <!-- Begin Project Card -->
          <div class="col s12 m4">
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="banners/red.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 left-align">Redimere</span>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Redimere</span>
                <p>E-Commerce shop using Wordpress and Woocommerce. Provided branding and marketing infrastructure for business owner.</p>
              </div>
              <div class="card-action">
                <a class="blue-text" target="_blank" href="http://redimere.net">Visit Website</a>
              </div>
            </div>
          </div>
          <!-- End Project Card -->
          <!-- Begin Project Card -->
          <div class="col s12 m4">
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="banners/fbj.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 left-align">Food By Jonister</span>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Food By Jonister</span>
                <p>Customized Wordpress website to display intricate recipes, ingredients, and step-by-step instructions with an emphasis on client's photographs. Automated E-mail campaigns using RSS and Mailchimp.</p>
              </div>
              <div class="card-action">
                <a class="blue-text" target="_blank" href="http://foodbyjonister.com">Visit Website</a>
              </div>
            </div>
          </div>
          <!-- End Project Card -->
          <!-- Begin Project Card -->
          <div class="col s12 m4">
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="banners/us1.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 left-align">US-1 America</span>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">US-1 America</span>
                <p>E-commerce shop using Magento and several extensions to customize functionality to suit the specific needs of the business. Led project to integrate client's product management system to automatically update Magento products, prices, availability, and details. Also provided E-mail marketing services to engage customers via newsletter using Mailchimp.</p>
              </div>
              <div class="card-action">
                <a class="blue-text" target="_blank" href="http://us1america.com">Visit Website</a>
              </div>
            </div>
          </div>
          <!-- End Project Card -->
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">I believe in Relationships over Profit, Execution over Ideas, and Innovation over the Status Quo</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="banners/dm-7.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row" id="contact">
        <h2 class="center-align">Get in Touch</h2>
        <div class="center">
          <img src="profile.jpg" class="profile-pic">
            <h4 class="blue-text">David Martin</h4>
            <p class="text-muted">Web Developer</p>
            <ul class="list-inline social-buttons">
              <li>
                <a href="https://www.linkedin.com/in/fullstackmiami"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- </div>
  </div> -->

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Currently grinding for Experience at Wyncode Academy<br/><br/><span style="font-weight:700;">#WYNFAM</span></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="banners/dm-9.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">I've helped dozens of businesses and individuals start, run, or grow their businesses. I'm a huge advocate of Entrepreneurship, Self-Learning, and Continuous Improvement. <br/><a class="white-text" href="mailto:david@sfldesigners.com">Take a minute and say hello!</a></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Philosophy</h5>
          <ul class="white-text">
            <li>Be disruptive.</li>
            <li>Be notorious.</li>
            <li>Don't stop learning.</li>
            <li>Never stop improving.</li>
            <li>Failure is not fatal.</li>
            <li>Success is never final.</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#skills">Design</a></li>
            <li><a class="white-text" href="#skills">Development</a></li>
            <li><a class="white-text" href="#skills">Business</a></li>
            <li><a class="white-text" href="#skills">Marketing</a></li>
            <li><a class="white-text" href="#skills">Consulting</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <i class="fa fa-heart" aria-hidden="true"></i> in Miami, FL
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
